# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

!msvc_lib/*
!msvc_lib/lib/*

# Shared objects (inc. Windows DLLs)
*.bin
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

#other
*.sdf
*.pdb
*.ilk
*.suo


# Compiled python
*.pyc
*.zip
*.ctm
tags
*.dat
